################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ARM/trainingARM/.vs
/ARM/trainingARM/trainingARM/bin/Debug/staging/trainingARM
